<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i> 栏目<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('category/index')}" data-title="栏目" href="javascript:void(0)">栏目管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe613;</i> 主题管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('theme_category/index')}" data-title="主题分类" href="javascript:void(0)">主题分类</a></li>
                    <li><a data-href="{:url('theme/index')}" data-title="主题" href="javascript:void(0)">主题</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe613;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('property/index')}" data-title="产品属性" href="javascript:void(0)">产品属性</a></li>
                    <li><a data-href="{:url('gift_category/index')}" data-title="礼品列表" href="javascript:void(0)">礼品列表</a></li>
                    <li><a data-href="{:url('procate/index')}" data-title="产品分类" href="javascript:void(0)">产品分类</a></li>
                    <li><a data-href="{:url('product/index')}" data-title="产品" href="javascript:void(0)">产品</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-news">
            <dt><i class="Hui-iconfont">&#xe616;</i> 新闻<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('news/index')}" data-title="新闻" href="javascript:void(0)">新闻管理</a></li>
                    <li><a data-href="{:url('news_cate/index')}" data-title="新闻分类" href="javascript:void(0)">新闻分类</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-column">
            <dt><i class="Hui-iconfont">&#xe616;</i> 专栏<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('column/index')}" data-title="专栏" href="javascript:void(0)">专栏管理</a></li>
                    <li><a data-href="{:url('column_cate/index')}" data-title="专栏分类" href="javascript:void(0)">专栏分类</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-pictur">
            <dt><i class="Hui-iconfont">&#xe613;</i> 轮播图列表<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('banner_item/index')}" data-title="轮播图列表" href="javascript:void(0)">轮播图列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 友情链接<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('frient_link/index')}" data-title="栏目" href="javascript:void(0)">友情链接</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('user/index')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
