<!DOCTYPE HTML>
<html>
<head>
	<!--包含头部文件-->
	{include file="public/header" /}
	<!--引入webuploaderCss-->
	{Uploader:webuploadercss /}
</head>

<body>
<div class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-pro-add">
		<input type="hidden" name="id" value="{$themeData.id}">
		<div id="tab_demo" class="HuiTab">
			<div class="tabBar clearfix"><span>基本内容</span><span>关联商品</span></div>
			<div class="tabCon">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>专辑标题：</label>
					<div class="formControls col-xs-4 col-sm-4 col-lg-3">
						<input type="text" class="input-text" value="{$themeData.name}" placeholder="" name="name">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>专辑描述：</label>
					<div class="formControls col-xs-4 col-sm-4 col-lg-3">
						<input type="text" class="input-text" value="{$themeData.description}" placeholder="" name="description">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>推荐位：</label>
					<div class="formControls skin-minimal col-xs-5">
						{volist name="attrData" id="attr" key="k"}
						<div class="check-box">
							<label class="checkbox-input"><input type="checkbox" {if condition="in_array($k,$themeData.attributes)"}checked{/if} name="attributes[]" value="{$k}"><span class="checkbox-name">{$attr}</span></label>
						</div>
						{/volist}
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标签位：</label>
					<div class="formControls skin-minimal col-xs-5">

						{volist name="labelsData" id="attr" key="k"}
						<div class="check-box">
							<label class="checkbox-input"><input type="checkbox" {if condition="in_array($k,$themeData.label_attr)"}checked{/if} name="label_attr[]" value="{$k}"><span class="checkbox-name">{$attr}</span></label>
						</div>
						{/volist}

					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>封面图：</label>
					<div class="formControls col-xs-8 col-sm-9">
						{Uploader:webuploader btnVal="上传封面图" uploadId="mainImg"}
						{if condition="$themeData.main_img_url neq ['']"}
						<ul class="filelist filelist-exist clearfix">
							{volist name="$themeData.main_img_url" id="imgs_arr"}
							<li class="state-complete" data-src="{$imgs_arr}">
								<p class="imgWrap"><img src="{$imgs_arr}" width="110" height="110"></p>
								<div class="file-panel"><span class="cancel">删除</span></div>
								<span class="success"></span>
							</li>
							{/volist}
						</ul>
						{/if}
						{/Uploader:webuploader}
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>移动端产品图：</label>
					<div class="formControls col-xs-8 col-sm-9">
						{Uploader:webuploader btnVal="上传移动端图" uploadId="mobileImgs"}
						{if condition="$themeData.mobile_imgs_url neq ['']"}
						<ul class="filelist filelist-exist clearfix">
							{volist name="$themeData.mobile_imgs_url" id="imgs_arr"}
							<li class="state-complete" data-src="{$imgs_arr}">
								<p class="imgWrap"><img src="{$imgs_arr}" width="110" height="110"></p>
								<div class="file-panel"><span class="cancel">删除</span></div>
								<span class="success"></span>
							</li>
							{/volist}
						</ul>
						{/if}
						{/Uploader:webuploader}
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>头图：</label>
					<div class="formControls col-xs-8 col-sm-9">
						{Uploader:webuploader btnVal="头图" uploadId="headImg"}
						{if condition="$themeData.head_img_url neq ['']"}
						<ul class="filelist filelist-exist clearfix">
							{volist name="$themeData.head_img_url" id="imgs_arr"}
							<li class="state-complete" data-src="{$imgs_arr}">
								<p class="imgWrap"><img src="{$imgs_arr}" width="110" height="110"></p>
								<div class="file-panel"><span class="cancel">删除</span></div>
								<span class="success"></span>
							</li>
							{/volist}
						</ul>
						{/if}
						{/Uploader:webuploader}
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">专辑分类：</label>
					<div class="formControls col-xs-2 col-sm-2">
						<select name="category_id" class="select template_sel">
							<option value="">选择分类</option>
							{volist name="CategoryRes" id="cate" key="k"}
							<option value="{$cate.id}"  {if condition="$cate.id eq $themeData.category_id"} selected="selected"{/if}>{if condition="$cate.pid != 0"}┞{/if}{$cate.level|str_repeat='┄',###*2}{$cate.name}</option>
							{/volist}
						</select>
					</div>
				</div>

				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">是否上架：</label>
					<div class="formControls skin-minimal col-xs-8">
						<div class="radio-box">
							<label class="radio-input"><input type="radio" name="on_sale" value="1" {if condition="$themeData.on_sale eq 1"}checked{/if}><span class="radio-name">上架</span></label>
						</div>
						<div class="radio-box">
							<label class="radio-input"><input type="radio" name="on_sale" value="0" {if condition="$themeData.on_sale eq 0"}checked{/if}><span class="radio-name">下架</span></label>
						</div>
					</div>
				</div>

				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>专辑详情：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<script id="detailCon" type="text/plain" name="content" style="width:100%;height:400px;">{$themeData.content|html_entity_decode|raw}</script>
					</div>
				</div>

				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">网页关键词：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$themeData.web_keys}" name="web_keys">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">网页描述：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$themeData.web_desc}" name="web_desc">
					</div>
				</div>

				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
						<button class="btn btn-primary radius save-sub-btn" type="button" data-id="1"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
						<button class="btn btn-secondary radius save-btn" type="button" data-id="0"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button>
						<button class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
					</div>
				</div>
			</div>
			<div class="tabCon">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">关联产品：</label>
					<div class="formControls skin-minimal col-xs-5">
						{volist name="proAllData" id="attr" key="k"}
						<div class="check-box">
							<label class="checkbox-input"><input type="checkbox" name="product_ids[]" {if condition="in_array($attr.id, $themeData['theme_product'])"}checked{/if} value="{$attr.id}"><span class="checkbox-name">{$attr.name}</span></label>
						</div>
						{/volist}
					</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
						<button class="btn btn-primary radius save-sub-btn" type="button" data-id="1"><i class="Hui-iconfont">&#xe632;</i> 保存提交</button>
					</div>
				</div>
			</div>
	</form>
</div>

<!--包含尾部文件-->
{include file="public/footer" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/ueditor/1.4.3/ueditor.all.js"></script>
<script>
	var config = {
		"upload_server": "{:url('getImg')}"
	};
</script>
<!--引入webuploaderJS-->
{Uploader:webuploaderjs/}
<script>
	feiy_upload.init({
		wrap:$("#mainImg"),
		filePicker: $("#mainImg").find(".filePicker"),
		uploadId: "#mainImg",
		server: config.upload_server,
		fileNumLimit: 2
	});
	feiy_upload.init({
		wrap:$("#mobileImgs"),
		filePicker: $("#mobileImgs").find(".filePicker"),
		uploadId: "#mobileImgs",
		server: config.upload_server,
		fileNumLimit: 5
	});
	feiy_upload.init({
		wrap:$("#headImg"),
		filePicker: $("#headImg").find(".filePicker"),
		uploadId: "#headImg",
		server: config.upload_server,
		fileNumLimit: 5
	});

	// tab切换
	jQuery.Huitab =function(tabBar,tabCon,class_name,tabEvent,i){
		var $tab_menu=$(tabBar);
		// 初始化操作
		$tab_menu.removeClass(class_name);
		$(tabBar).eq(i).addClass(class_name);
		$(tabCon).hide();
		$(tabCon).eq(i).show();

		$tab_menu.bind(tabEvent,function(){
			$tab_menu.removeClass(class_name);
			$(this).addClass(class_name);
			var index=$tab_menu.index(this);
			$(tabCon).hide();
			$(tabCon).eq(index).show()
		})
	}
	$(function(){
		$.Huitab("#tab_demo .tabBar span","#tab_demo .tabCon","current","click","0")
	});

</script>



<script type="text/javascript">

	//checkbox 美化
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	// 编辑器
	$(function(){
		var ue1 = UE.getEditor('detailCon',{
			enterTag: 'br'
		});

		$(".edit_wrapper").val('');
	});

	// 保存并审核提交
	$(".save-sub-btn").on("click",function(){
		config.save_id = $(this).data("id");
		$("#form-pro-add").submit();
	});
	// 保存为草稿
	$(".save-btn").on("click",function(){
		config.save_id = $(this).data("id");
		$("#form-pro-add").submit();
	});



	// 表单验证
	$("#form-pro-add").validate({
		rules:{
			name:{
				required:true
			},
			column_id:{
				required:true
			}
		},
		messages:{
			name: "标题不能位空",
			column_id: "请选择所属栏目"
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			//数据提交
			// 获取产品详情页
			var $main_img_childs = $("#mainImg .filelist > li");
			var $mobileImgs_childs = $("#mobileImgs .filelist > li");
			var $headImg_childs = $("#headImg .filelist > li");

			var head_img = setUpdateUrl($headImg_childs);
			var main_img_url = setUpdateUrl($main_img_childs);
			var mobileImgs = setUpdateUrl($mobileImgs_childs);


			var params = "&head_img_url="+head_img+"&main_img_url="+main_img_url+"&mobile_imgs_url="+mobileImgs;
			$.ajax({
				url: "{:url('save')}",
				type: "post",
				data: $("#form-pro-add").serialize()+params,
				success: function(res){
					layer.msg(res.msg, {icon: 6,time:1000});
					setTimeout(function(){
						if(res.data){
							window.location = res.data;
						}
					},1000);
				}
			})

		}
	});

</script>
</body>
</html>