<!DOCTYPE HTML>
<html>
<head>
	<!--包含头部文件-->
	{include file="public/header" /}
</head>
<body class="pos-r">
<div>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 专辑管理<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="page-container">

		<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a class="btn btn-primary radius" href="{:url('add')}"><i class="Hui-iconfont"></i> 添加专辑</a></span>  </div>
		<div class="mt-20">
			<table class="table table-border table-bordered table-bg table-hover table-sort">
				<thead>
					<tr>
						<th class="text-c" width="30">ID</th>
						<th class="text-c" width="174">专辑名称</th>
						<th class="text-c" width="100">封面图</th>
						<th class="text-c" width="100">专辑头图</th>
						<th class="text-c">描述</th>
						<th class="text-c" width="100">上架</th>
						<th class="text-c">排序</th>
						<th class="text-c" width="240">操作</th>
					</tr>
				</thead>
				<tbody class="table-body">
					{volist name="themeData" id="data"}
					<tr class="text-c va-m" data-id="{$data.id}">
						<td>{$data.id}</td>
						<td class="text-c">{$data.name}</td>
						<td>{if condition="count($data['main_img_url']) gt 0 && $data['main_img_url'][0] neq ''"}<a target="_blank" href="{$data.main_img_url[0]}"><img src="{$data.main_img_url[0]}" height="30"></a>{else /}暂无封面图{/if}</td>
						<td>{if condition="count($data['head_img_url']) gt 0 && $data['head_img_url'][0] neq ''"}<a target="_blank" href="{$data.head_img_url[0]}"><img src="{$data.head_img_url[0]}" height="30"></a>{else /}暂无头图{/if}</td>
						<td class="text-c">{$data.description}</td>
						<td class="text-c">{if condition="$data['on_sale'] eq 1"}已上架{else /}未上架{/if}</td>
						<td class="text-c listorder"><input size="3" data-id="{$data.id}" name="listorder" value="{$data.listorder}"/></td>
						<td class="td-manage">
							<a style="text-decoration:none" class="ml-5" href="{:url('edit',['id'=>$data.id])}" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
							<a style="text-decoration:none" class="ml-5" onClick="product_del(this,{$data.id})" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
			<div class="paging-wrap"></div>

		</div>
	</div>
</div>

<!--包含尾部文件-->
{include file="public/footer" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script src="__STATIC__/admin/js/product.js"></script>
<script type="text/javascript">


$(".td-status").on("click",'a',function(){
	var id = $(this).data("id");
	var status = $(this).data("status");
	status = (status==1?0:1);
	var url = "{:url('status')}?id="+id+"&status="+status;
	$.ajax({
		url: url,
		type: "get",
		success: function(data){
			layer.msg(data.msg,{icon:1,time:1000});
			window.location = "{:url('index')}";
		}
	});
});

$(".listorder>input").blur(function () {

    var id = $(this).data("id");
    var listorder = $(this).val();
    var url = "{:url('album/listorder')}?id="+id+"&listorder="+listorder;
    $.ajax({
        url: url,
        type: "get",
        success: function(res){
            layer.msg(res.msg,{icon:1,time:1000});
            window.location = res.data;
        }
    });
});

/*产品-删除*/
function product_del(obj,id){
    console.log(11111)
    var url = "{:url('del')}?id="+id;
    layer.confirm('确认要删除吗？',function(index){
        $.ajax({
            type: 'get',
            url: url,
            success: function(data){
                $(obj).parents("tr").remove();
                layer.msg('已删除!',{icon:1,time:1000});
            },
            error:function(data) {
                console.log(data.msg);
            },
        });
    });
}





</script>
</body>
</html>