<!DOCTYPE HTML>
<html>
<head>
    <!--包含头部文件-->
    {include file="public/header" /}
    <!--引入webuploaderCss-->
    {Uploader:webuploadercss /}
    <style>
        .form .row{ margin-bottom: 25px;}
        .form .save-btn-wrap{ margin-top: 30px;}
    </style>
</head>
<body>
<div class="page-container">
    <form class="form form-horizontal form-o2o-add" id="form-wrapper">
        <div class='modal-body'>
            <div class='row cl'>
                <label class='form-label col-xs-2 col-sm-3'>分类名称</label>
                <div class="formControls col-xs-6 col-sm-6">
                    <input type='text' class='input-text' name='name' value='{$cateCurrent.name}'>
                    <input type="hidden" name="id" value="{$cateCurrent.id}">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-3"><span class="c-red">*</span>分类：</label>
                <div class="formControls col-xs-3 col-sm-3">
                    <select class='select' name='pid'>
                        <option value='0'>顶级分类</option>
                        {volist name='categorys' id='data'}
                        <option {if condition="$cateCurrent.pid == $data.id"}selected {/if}  value='{$data.id}'>{if condition="$data.pid != 0"}┞{/if}{$data.level|str_repeat='┄',###*2}{$data.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-2 col-sm-3">缩略图：</label>
                <div class="formControls col-xs-8 col-sm-8">
                    {Uploader:webuploader btnVal="上传轮播图" uploadId="imgUrl"}
                    <ul class="filelist filelist-exist clearfix">
                        {volist name="$cateCurrent.img_url" id="imgs_arr"}
                        <li class="state-complete" data-src="{$imgs_arr}">
                            <p class="imgWrap"><img src="{$imgs_arr}" width="110" height="110"></p>
                            <div class="file-panel"><span class="cancel">删除</span></div>
                            <span class="success"></span>
                        </li>
                        {/volist}
                    </ul>
                    {/Uploader:webuploader}
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <button class="btn btn-primary radius save-btn" type="button" data-id="1"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                    <button class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--包含头部文件-->
{include file="public/footer" /}
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script>
    var config = {
        "upload_server": "{:url('getImg')}"
    };
</script>
<!--引入webuploaderJS-->
{Uploader:webuploaderjs/}
<script>
    feiy_upload.init({
        wrap:$("#imgUrl"),
        filePicker: $("#imgUrl").find(".filePicker"),
        uploadId: "#imgUrl",
        server: config.upload_server,
        fileNumLimit: 3
    });
</script>
<script>


    cancelImg();
    // 检查图片数量是否超过设置值，超出则禁止
    $(function () {
        checkUpload();
    });

    function checkUpload(){
        var $bannerImg_childs = $("#imgUrl .filelist > li");

        setTimeout(function(){
            setNoDrop($bannerImg_childs,3);
        },500);
    }

    function setNoDrop($dom,num){
        var num = num?num:1;
        var length = $dom.length;
        if(length >=num){
            $dom.parents(".queueList").prev().find(".webuploader-pick").css({
                'position': 'relative',
                'zIndex': 1,
                'background': '#f0f0f0',
                'cursor': 'no-drop'
            });
        }
    }


    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });

    $(".save-btn").on("click",function(){
        $("#form-wrapper").submit();
    });


    // 表单验证
    $("#form-wrapper").validate({
        rules: {
            name: "required",
            key_word: {
                required: true,
                digits:true,
                min:1
            },
            banner_id: 'required'
        },
        messages: {
            name: "标题不能为空",
            key_word: "id不能为空,不能小于1",
            banner_id: "轮播图位不能为空"
        },
        submitHandler: function(form){
            // 获取产品详情页
            var $img_list_childs = $("#imgUrl .filelist > li");
            var img_url = setUpdateUrl($img_list_childs);
            if(img_url == 'undefined'){
                layer.msg('图片不存在，或者更改图片名称重新上传', {icon: 6,time:1000});
                return ;
            }

            params = "&img_url="+img_url;
            $.ajax({
                url: "{:url('save')}",
                type: "post",
                data: $('#form-wrapper').serialize()+params,
                success: function(res){
                    layer.msg(res.msg, {icon: 6,time:1000});
                    if(res.data){
                        parent.window.location = res.data;
                    }
                }
            });
        }
    });

</script>
</body>
</html>

